@import '../../../utils/colors.module.scss';

.answerContainer {
  padding: 0.5rem;
  font-size: 1rem;
  font-weight: 400;

  .answerLabel {
    &:focus-visible {
      outline: none;
    }
  }

  .answerInput {
    margin: 0.2rem 0.5rem;
    height: fit-content;
    width: fit-content;

    &:focus-visible {
      outline: none;
    }
  }

  // .answerRadio {
  // }

  .answerText {
    margin: 0.2rem 0.5rem;
    border: 1px solid $powder-blue;
    padding: 0.25rem;
    // margin-left: 1rem;

    &:focus-visible {
      outline: none;
    }
  }
}

.revealedOpt {
  margin-left: 1rem;
}
