@import '../../utils/colors.module.scss';

.allButton {
  width: fit-content;
  height: fit-content;
  padding: 0.35rem 1.5rem;
  display: flex;
  transition: 200ms ease-in-out;

  text-align: center;
  font-size: 1rem;
  font-weight: 500;
  line-height: 200%;
}

.primary {
  background-color: $powder-blue;
  color: white;
  border: $powder-blue solid 1px;

  &:hover {
    background-color: lighten($blue-accent, 15%);
    cursor: pointer;
  }

  &.disabled {
    background-color: lighten($powder-blue, 15%) !important;
  }
}

.secondary {
  background-color: white;
  color: $blue-accent;
  border: $blue-accent solid 1px;

  &:hover {
    color: lighten($blue-accent, 10%);
    border: lighten($blue-accent, 30%) solid 1px;
    cursor: pointer;
  }

  &.disabled {
    border-color: #a0a0a0 !important;
    color: #a0a0a0 !important;
  }
}

.disabled {
  &:hover {
    cursor: default;
  }
}

.link {
  text-decoration: none;
}
