@import '../../utils/colors.module.scss';

.allButton {
  width: fit-content;
  height: fit-content;
  padding: 0.35rem 1.5rem;
  display: flex;
  transition: 200ms ease-in-out;

  text-align: center;
  font-size: 1rem;
  font-weight: 500;
  line-height: 200%;
}

.primary {
  background-color: $ultra-violet;
  border: $ultra-violet solid 1px;
  position: relative;

  .text {
    color: white;
    z-index: 3;
  }

  &::before {
    content: ' ';
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: $hookers-green;
    transition: 200ms ease-in-out;
    text-align: center;
    align-items: center;
  }

  &:hover {
    cursor: pointer;

    &::before {
      width: 100%;
    }
  }

  &.disabled {
    background-color: lighten($ultra-violet, 15%) !important;
  }
}

.secondary {
  background-color: white;
  border: 1px $ultra-violet solid;
  position: relative;

  .text {
    color: $ultra-violet;
    z-index: 3;
    transition-delay: 100ms;
  }

  &::before {
    content: ' ';
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: $ultra-violet;
    transition: 200ms ease-in-out;
    text-align: center;
    align-items: center;
  }

  &:hover {
    cursor: pointer;

    .text {
      color: white;
    }

    &::before {
      width: 100%;
    }
  }

  // &:hover {
  //   color: lighten($ultra-violet, 10%);
  //   border: lighten($ultra-violet, 30%) solid 1px;
  //   cursor: pointer;
  // }

  &.disabled {
    border-color: #a0a0a0 !important;
    color: #a0a0a0 !important;
  }
}

.disabled {
  &:hover {
    cursor: default;
  }
}

.link {
  text-decoration: none;
}
