@import '../../utils/colors.module.scss';

.linksList {
  position: fixed;
  background-color: $powder-blue;
  width: 100vw;
  height: 100%;
  opacity: 85%;
  margin-top: 10vh;
  z-index: 2;
  text-align: center;

  animation-name: expand_link_list;
  animation-duration: 0.3s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  animation-fill-mode: backwards;

  ul {
    width: 100%;
  }

  li {
    padding: 1rem;
    width: 100%;
    height: 100%;
  }

  a {
    padding: 1rem;
    width: 100vw;
    height: 100%;
    font-size: 1.1rem;
    text-decoration: none;
    color: black;
  }
}

@keyframes expand_link_list {
  0% {
    height: 0%;
  }
  100% {
    height: 100%;
  }
}
