@import '../../../utils/colors.module.scss';

.form {
  padding: 0.6rem;
  margin: 2.5rem 0;
  border: 2px solid $light-blue-accent;
  border-radius: 0.1rem;

  ._question {
    border-bottom: 1px solid $light-blue-accent;
    margin-bottom: 1rem;
    padding: 0.4rem;
    font-size: 1.5rem;
    font-weight: 500;
    color: $blue-accent;

    @media screen and (max-width: 600px) {
      font-size: 1.3rem;
    }
  }
}
