@import '../../../utils/colors.module.scss';

.answerContainer {
  padding: 0.5rem 0.2rem;
  font-size: 1rem;
  font-weight: 400;

  .answerLabel {
    margin-left: 0.5rem;

    &:focus-visible {
      outline: none;
    }
  }

  .answerRadio {
    margin: 0.2rem;

    &:focus-visible {
      outline: none;
    }
  }

  .answerCheckbox {
    margin: 0.5rem;

    &:focus-visible {
      outline: none;
    }
  }

  .answerText {
    border: 1px solid $light-gray;
    padding: 0.25rem;
    margin-left: 1rem;

    &:focus-visible {
      outline: none;
    }
  }
}
