@import '../../../utils/colors.module.scss';

.form {
  padding: 0.6rem;
  margin: 0 0 1rem;

  .question {
    margin-bottom: 0.25rem;
    padding: 0.4rem;
    font-size: 1.2rem;
    font-weight: 500;
    font-family: Poppins;
    color: white;
    background-color: $powder-blue;
    border-radius: 0.5rem;

    @media screen and (max-width: 600px) {
      font-size: 1rem;
    }
  }
}
