@import '../../utils/colors.module.scss';

.consentPage {
  padding-top: 5rem;
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  background-color: $powder-blue;
  color: black;

  .textContainer {
    width: 80%;
    margin: 0 auto;
    padding: 2rem;

    border-radius: 0.5rem;
    background-color: white;

    display: flex;
    flex-direction: column;
    justify-content: center;

    .inputContainer {
      margin: 2rem auto;
      display: flex;
      flex-direction: column;
      gap: 1rem;

      .switchContainer {
        margin: 0 auto;
      }
    }
  }
}
