@import '../../utils/colors.module.scss';

.header {
  width: 100vw;
  height: 8vh;
  display: flex;
  box-shadow: 0px 0.5px 5px $light-gray;

  ._logo {
    height: 100%;
    object-fit: cover;
    margin: auto;
  }

  ._links {
    width: 90%;
    height: 100%;

    li {
      width: 50%;
      height: 100%;
      display: inline-flex;
      flex-direction: row;
      justify-content: space-around;

      line-height: 8vh;
      text-align: center;

      transition: border ease-in-out 75ms;

      &:hover {
        border-bottom: 3px solid $light-blue-accent;
      }

      a {
        width: 100%;
        text-decoration: none;
        color: black;
        overflow-y: hidden;
      }
    }
  }
}
