@import '../../utils/colors.module.scss';

.header {
  width: 100vw;
  height: 10vh;
  display: flex;
  position: fixed;
  z-index: 2;
  justify-content: center;
  // background-color: $powder-blue;
  flex-direction: column;

  @media screen and (max-width: 600px) {
    justify-content: space-between;
  }

  .formTitle {
    color: white;
    font-family: Poppins;
    text-align: center;
    height: 100%;
    line-height: 10vh;
    font-size: 1.75rem;
  }

  .logo {
    height: 100%;
    object-fit: contain;
    margin: auto;

    @media screen and (max-width: 600px) {
      margin: 0;
    }
  }

  .links {
    width: 90%;
    height: 100%;

    @media screen and (max-width: 600px) {
      display: none;
    }

    li {
      width: 50%;
      height: 100%;
      display: inline-flex;
      flex-direction: row;
      justify-content: space-around;

      line-height: 8vh;
      text-align: center;

      transition: border ease-in-out 75ms;

      &:hover {
        border-bottom: 3px solid $powder-blue;
      }

      a {
        width: 100%;
        text-decoration: none;
        color: black;
        overflow-y: hidden;
      }
    }
  }

  .hamburguerMenu {
    width: 20vw;
    height: 8vh;
    padding: 3vh 5vw;
    overflow-y: hidden;
    background-color: transparent;
    border: none;
    align-self: flex-end;

    @media screen and (min-width: 600px) {
      display: none;
    }

    .line {
      display: block;
      width: 10vw;
      height: 4px;
      margin-bottom: 4px;

      border-radius: 0.1rem;
      background-color: $blue-accent;
      transition: 250ms ease-in-out;
    }

    &.open {
      .line {
        &:first-child {
          transform: translateY(8px) rotate(-45deg);
        }

        &:nth-child(2) {
          background-color: transparent !important;
        }

        &:nth-child(3) {
          transform: translateY(-8px) rotate(45deg);
        }
      }
    }

    &._closed {
      //this property only makes it so that it does not show an undefined className
      color: pink;
    }
  }
}
