$powder-blue: #a4b8c4 !default;
$hookers-green: #397367 !default;
$ultra-violet: #655a7c !default;
$chocolate-cosmos: #52050a !default;

$blue-accent: #397367 !default;
$yellow-accent: #fbd57d !default;
$yellow-titles: #f5ab00 !default;
