.form_group {
  width: 100%;
  margin: 0 30%;
  width: 40%;

  ._form {
    padding-bottom: 4rem;
  }
  ._button {
    text-align: center;
    width: 20%;
    margin: 0 40%;
    padding: 0.6rem 0;

    border: 0px;
    border-radius: 1rem;
    background-color: #fbd57d;
    font-weight: 600;
  }
}
