@import '../../../utils/colors.module.scss';

.formGroup {
  width: 100%;
  margin: 0 auto;
  width: 60%;

  @media screen and (max-width: 600px) {
    margin: 0 auto;
    width: 90%;
  }

  .form {
    padding-bottom: 4rem;

    .error {
      color: red;
      text-align: center;
      margin: 2rem 0;
    }

    .pageButtons {
      margin: 0 2.7rem;
      display: flex;
      justify-content: space-between;
    }

    .submitButton {
      margin-top: 1rem;
      display: flex;
      justify-content: center;
    }
  }

  .loading {
    width: fit-content;
    margin: 2rem auto;
    text-align: center;
    padding: 1rem;
    border: 2px solid $yellow-accent;
    position: relative;
    overflow-y: hidden;

    .textContainer {
      width: 15%;
      height: 5%;
      background-color: darken($yellow-accent, 25%);
      border-radius: 2rem;

      position: absolute;
      top: 0;
      left: 0;
      z-index: 2;
      animation: loadingSize 2s infinite ease-in-out backwards, loading 2s infinite backwards;

      p {
        display: block;
        z-index: 1;
      }
    }
  }
}

@keyframes loading {
  0% {
    top: 0;
    left: 0;
  }
  24% {
    top: 0;
    left: 85%;
  }
  25% {
    top: 0;
    left: 98%;
  }
  49% {
    top: 58%;
    left: 97%;
  }
  50% {
    top: 94%;
    left: 85%;
  }
  74% {
    top: 95%;
    left: 0;
  }
  75% {
    top: 65%;
    left: 0;
  }
  100% {
    top: 0;
    left: 0;
  }
}

@keyframes loadingSize {
  0% {
    width: 15%;
    height: 5%;
  }
  24% {
    width: 15%;
    height: 5%;
  }
  25% {
    width: 3%;
    height: 35%;
  }
  49% {
    width: 3%;
    height: 35%;
  }
  50% {
    width: 15%;
    height: 5%;
  }
  74% {
    width: 15%;
    height: 5%;
  }
  75% {
    width: 3%;
    height: 35%;
  }
  99% {
    width: 3%;
    height: 35%;
  }
}
